{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <section class="section1">
        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>Hi, I'm Praful Sharma</h1>
            </div>

            <div class="intro-wrapper">
                <div class="nav-wrapper">
                    <div class="dots-wrapper">
                        <div id="dot-1" class="browser-dots"></div>
                        <div id="dot-2" class="browser-dots"></div>
                        <div id="dot-3" class="browser-dots"></div>
                    </div>

                    <ul id="navigation">
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="left-column">
                    <img id="profile_picture" src="{% static '/images/profile-photo.jpg' %}" alt="profile-picture">
                    <h5 style="text-align: center;line-height: 0">Personalize Theme</h5>
                    <div id="theme-options-wrapper">
                        <div id="light-mode" class="theme-dot"></div>
                        <div id="blue-mode" class="theme-dot"></div>
                        <div id="green-mode" class="theme-dot"></div>
                        <div id="purple-mode" class="theme-dot"></div>
                    </div>
                    <p id="settings-note">/*Theme options will be saved for <br> your next visit.*/</p>
                </div>


                <div class="right-column">
                    <div id= "preview-shadow">
                        <div id="preview">
                            <div id="corner-tl" class="corner"></div>
                            <div id="corner-tr" class="corner"></div>
                            <h3>What I Do</h3>
                            <p>I am a Student of Bachelors in Computer Science,
                                And love to explore the World of Computing.</p>
                            <div id="corner-br" class="corner"></div>
                            <div id="corner-bl" class="corner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section2">
        <div class="main-container">
            <div class="about-wrapper">

                <div class="about-me">
                    <h4>More about me</h4>
                    <p>I keep working on new projects to tickle my brain and
                        love reading more about new technologies.</p>

                    <p>While doing my studies in Computer Science, I keep looking for great
                        teams and projects to work on
                    and always excited about working with different mindsets
                        and environments.</p>

                    <hr>

                    <h4>TOP EXPERTISE</h4>

                    <P>Full stack developer with primary focus on Django:
                        <a target="_blank" href="#">Download my resume.</a></P>

                    <div id="skills">
                        <ul>
                            <li>Python</li>
                            <li>Django</li>
                            <li>JavaScript</li>
                            <li>Postgres</li>
                            <li>Java</li>
                        </ul>

                        <ul>
                            <li>TensorFlow</li>
                            <li>Keras</li>
                            <li>AWS (RDS)</li>
                            <li>HTML/CSS</li>
                        </ul>
                    </div>

                </div>
                <div class="social-me">
                    <img id="banner" src="{% static 'images/PicsArt_09-22-11.35.01.jpg' %}" alt="banner.jpg">
                </div>
            </div>
        </div>
    </section>

    <section class="section1">
        <div class="main-container">
            Portfolio
        </div>
    </section>

    <section class="section2">
        <div class="main-container">
            Contact
        </div>
    </section>


{% endblock %}
