{% extends 'base/base.html' %}

{% block content %}
    <section class="section1">
        <div class="main-container">
            <h1>Hi, I'm Praful Sharma</h1>
            <p>some basic test text</p>
            <a href="">Test Link</a>
        </div>
    </section>

    <section class="section2">
        <div class="main-container">
            About
        </div>
    </section>

    <section class="section1">
        <div class="main-container">
            Portfolio
        </div>
    </section>

    <section class="section2">
        <div class="main-container">
            Contact
        </div>
    </section>


{% endblock %}
