{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <section class="section1">
        <div class="main-container">
            <div class="greeting-wrapper">
                <h1>Hi, I'm Praful Sharma</h1>
            </div>

            <div class="intro-wrapper">
                <div class="nav-wrapper">
                    <div class="dots-wrapper">
                        <div id="dot-1" class="browser-dots"></div>
                        <div id="dot-2" class="browser-dots"></div>
                        <div id="dot-3" class="browser-dots"></div>
                    </div>

                    <ul id="navigation">
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="left-column">
                    <img id="profile_picture" src="{% static '/images/profile-photo.jpg' %}" alt="profile-picture">
                    <h5 style="text-align: center;line-height: 0">Personalize Theme</h5>
                    <div id="theme-options-wrapper">
                        <div id="light-mode" class="theme-dot"></div>
                        <div id="blue-mode" class="theme-dot"></div>
                        <div id="green-mode" class="theme-dot"></div>
                        <div id="purple-mode" class="theme-dot"></div>
                    </div>
                    <p id="settings-note">/*Theme options will be saved for <br> your next visit.*/</p>
                </div>


                <div class="right-column">
                    <div id="preview-shadow">
                        <div id="preview">
                            <div id="corner-tl" class="corner"></div>
                            <div id="corner-tr" class="corner"></div>
                            <h3>What I Do</h3>
                            <p>I am a Student of Bachelors in Computer Science,
                                And love to explore the World of Computing.</p>
                            <div id="corner-br" class="corner"></div>
                            <div id="corner-bl" class="corner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section2">
        <div class="main-container">
            About
        </div>
    </section>

    <section class="section1">
        <div class="main-container">
            Portfolio
        </div>
    </section>

    <section class="section2">
        <div class="main-container">
            Contact
        </div>
    </section>


{% endblock %}
